#navbar {
  position: fixed;
  min-width: 100px;
  top: 0px;
  left: 0px;
  width: 120px;
  height: 100%;
  border-right: solid;
  border-color: black;
  padding-bottom: 10px;
  background-color: LightGray;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar li {
  border-bottom: solid;
  border-color: darkgray;
  padding-top: 20px;
  padding-bottom: 20px;
  text-indent: 0.5em;
}

#navbar li:first-of-type {
  border-top: solid;
  border-color: darkgray;
}

#navbar a {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
}

#navbar header {
  color: PaleGreen;
  background-color: black;
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#main-doc  {
  position: absolute;
  top: 0;
  left: 120px;
  font-family: Garamond;
  background-color: LightGray;
  color: ForestGreen;
  padding: 10px;
}

header {
  font-weight: bold;
  font-size: 20px;
}

@media (max-width: 815px) {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
}
